body{
  background-color: #dadddf;
  font-family: Tahoma,Verdana,sans-serif;
  text-align: center;
}
h1, h2, h3, h4, h5, h6{
  font-style: 'Tahoma', serif;

}
h1{
  color: #1c4b82;
  font-weight: bold;

}
h2{
  margin-left: auto;

}
h3{
  color: #1c4b82;
  font-size: 40px;
  font-weight: normal;
  line-height: 2;
  margin-left: 550px;
  text-align: center;
}

h4{
  color: #1c4b82;
  font-weight: bold;
  line-height: 2;


}
h6{
  color: #1c4b82;

  font-weight: normal;
  line-height: 2;
  text-decoration: underline;
  font-size: 30px;

}

p{
  color:  #B96F6F;
  font-size: 25px;
  font-weight: normal;
  line-height: 2;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  font-style:'Amiri', serif;;


}
h5{
  color:  #B96F6F;
  font-size: 25px;
  font-weight: normal;
  line-height: 2;
  width: 70%;
  margin-right: auto;
  margin-left: 0;
  font-style:'Amiri', serif;;
  text-align:auto;

}

#title{
  background-color: #dadddf;

}



.image {
  width: 50%;
  height: 30%;
  margin-left: 50px;
  border-radius: 25%;

}

.img-fluid{
  width: 80%;

  margin: 20px;
  border-radius: 25%;

}
.container {
  clear: left;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 3% 15%;

}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family:'EB Garamond', serif;
  font-size: 60px;
  font-weight: normal;
  line-height: 2;

}



.contact-me{
  background-color: #dadddf;

}
.btn{
  margin-bottom: 70px;
  border-radius: 12px;
  background-color: #1c4b82;
  color: white;
  border: 2px solid #dadddf;
  padding: 10px 20px;
  text-decoration: none;
  text-shadow: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.bottom-container{
  background-color: #ffd3b6;
  padding: 50px;

}


/* Navigation Bar */

.navbar{
  padding-bottom: 0 0 0 4.5rem;

}
.navbar-brand{
  font-family: 'Gothic A1', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #1c4b82;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size:1.2rem;
  font-family:"Montserrat-Light";
  color: #1c4b82;
}
.fab{
  margin-bottom: 1rem;

  resize: inherit;

}
.fab:hover {
  color: #1c4b82;
}
.fa-facebook{
  margin-left: 3px;
  margin-right: 20px;
}
.Admissions{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 20px;
  margin-bottom: 20px;
}

.school{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 20px;
  margin-bottom: 20px;
}


/* testimonials section */
#testimonials{
  padding: 7% 15%;
  text-align: right;
  background-color: #ffd3b6;
}
/* #contactme{
  text-align: center;
  padding: 200px;
  margin:20px;
} */


/* admission section */
.carousel-text .cat-icon {
    text-shadow: none;
    margin-left: 0;
    text-align: left;
}

.carousel-text .caption-text {
    color: #b7b7b7;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
}
#carouselExampleControls{
  width: auto;
  margin-left: 500px;

}


#admission{
  color: #ffd3b6;


}

.admission-col{
  padding: auto;


}


@media (max-width: 1028px) {
  #intro{
    text-align: center;
  }
  #testimonials{
    text-align: center;
  }
  .contact-me{
    text-align: center;
  }
  .bottom-container{
    text-align: center;

  }

  .image{
    position: static;
    transform: rotate(0);
  }

}
